<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Subjects</th>
            <th scope="col">DOB</th>
            <th scope="col">Grade</th>
        </tr>
    </thead>
    <tbody>
        
        <!--  <ol class="list-group list-group-numbered"> -->
            
          <!--  <li *ngFor="let s of students; index as i" class="list-group-item"> -->
           for(let s as students) {
            <tr>
                    <td>
                        <span>{{s.firstName}}</span>
                    </td>
                    <td>
                        <span>{{s.lastName}}</span>
                    </td>
                    <td>
                        <span>{{s.subject}}</span>
                    </td>
                    <td>
                        <span>{{s.dob}}</span>
                    </td>
                    <td>
                        <span>{{s.grade}}</span>
                    </td>
                </tr>
            }
    
    </tbody>

</table>